body {
    color: white !important;
}

.bg-blue {
    background-color: #125499;
}

.bg-orange {
    background-color: #D03312;
}

.color1 {
    background-color: #000000;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color2 {
    background-color: #FF00FF;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color3 {
    background-color: #666699;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color4 {
    background-color: #CCCCCC;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color5 {
    background-color: #338888;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color6 {
    background-color: #FFFFCC;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color7 {
    background-color: #FCFCFC;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color8 {
    background-color: #999999;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color9 {
    background-color: #777777;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color10 {
    background-color: #444444;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color11 {
    background-color: #444444;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color12 {
    background-color: #222211;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color13 {
    background-color: #FFAA00;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color14 {
    background-color: #CC9933;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color15 {
    background-color: #CCCCBB;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color16 {
    background-color: #000000;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color17 {
    background-color: red;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color18 {
    background-color: green;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color19 {
    background-color: blue;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.btn {
    margin-top: 10px;
}

.align-center {
    align-items: center;
}