h2, p {
    font-family: 'SEGA LOGO FONT';
}

.bg-blue {
    background-color: #125499;
}

.bg-orange {
    background-color: #D03312;
}

.field {
    height: 20px;
    width: 7%;
}

.fieldColor {
    height: 20px;
}

.container {
    display: flex;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.text-center{
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;   
}

.column25 {
    width: 25%;
}

.column75 {
    width: 75%;
}

.column50 {
    width: 50%;
}

.black {
    background-color: #000000;
    cursor: pointer;   
}

.white {
    background-color: #FFFFFF;
    cursor: pointer;   
}

.border {
    border-color:gray;
    border-style: solid;
}

.btn {
    margin-top: 10px;
}

.align-center {
    align-items: center;
    justify-content: center;
}

.padding-top-10 {
    padding-top: 10px;
}