body {
    color: white !important;
}

.bg-blue {
    background-color: #125499;
}

.bg-orange {
    background-color: #D03312;
}

.color1 {
    background-color: #000000;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.color2 {
    background-color: #FFFFFF;
    border-color:gray;
    border-style: solid;
    cursor: pointer;
}

.btn {
    margin-top: 10px;
}

.align-center {
    align-items: center;
}