@font-face {
    font-family: 'SEGA LOGO FONT';
    src: url('SEGA.woff2') format('woff2'),
        url('SEGA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

