h2, p {
    font-family: 'SEGA LOGO FONT';
}

.bg-blue {
    background-color: #125499;
}

.bg-orange {
    background-color: #D03312;
}

.field {
    height: 20px;
    width: 7%;
}

.fieldColor {
    height: 20px;
}

.container {
    display: flex;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.text-center{
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;   
}

.column25 {
    width: 25%;
}

.column75 {
    width: 75%;
}

.column50 {
    width: 50%;
}

.color1 {
    background-color: #000000;
    cursor: pointer;   
}

.color2 {
    background-color: #46A38C;
    cursor: pointer;   
}

.color3 {
    background-color: #B9C9D4;
    cursor: pointer;
}

.color4 {
    background-color: #FFF4C7;
    cursor: pointer;
}

.color5 {
    background-color: #B9C9D4;
    cursor: pointer;
}

.color6 {
    background-color: #986810;
    cursor: pointer;
}

.color7 {
    background-color: #777777;
    cursor: pointer;
}

.border {
    border-color:gray;
    border-style: solid;
}

.btn {
    margin-top: 10px;
}

.align-center {
    align-items: center;
    justify-content: center;
}

.padding-top-10 {
    padding-top: 10px;
}